@model IList<CartItem>

@if (Model.Count!=0)
{
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Book.Name)
                    </td>
                    <td>
                        @if (Model[i].Book.QuantityInStock<=0)
                        {
                            <h3>out of stock</h3>
                        }
                        else
                        {
                            <div>( $@Model[i].Book.Price x @Model[i].Quantity )   ==>   @Html.DisplayFor(modelItem => modelItem[i].Price)</div>
                        }
                    </td>
                    <td id="target">
                        @if (Model[i].Book.QuantityInStock<=0)
                        {
                            <h3>out of stock</h3>
                            <input data-val="true" data-val-required="The BookId field is required." id="BookId" name="bookId" type="hidden" value="@Model[i].BookId" />
                        }
                        else
                        {
                            <input data-val="true" data-val-required="The BookId field is required." id="BookId" name="bookId" type="hidden" value="@Model[i].BookId" />
                            <div class="dropdown-container">
                                <div class="dropdown-toggle">

                                    @Html.DropDownList("Quantity", new SelectList(Enumerable.Range(1, Model[i].Book.QuantityInStock), Model[i].Quantity), new
                                        {
                                            @class = "form-control dropdown"
                                        })
                                    <div class="slide-content">
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        <button class="DeleteCartItem btn btn-danger">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Total</h5>
                <p class="card-text">
                    Total: $@Model.Sum(item => item.Book.Price*item.Quantity)
                </p>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="ConfirmOrder" asp-controller="Orders" class="btn btn-danger">Submit Order</a>
    </div>

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').click(function () {
                // Toggle the visibility of the slide content
                $(this).next('.slide-content').slideToggle();
            });

            // Handle change event for dropdowns with the 'form-control' class
            $('.dropdown').change(function (e) {
                var Quantity = $(this).val();
                var bookId = $(this).parent().parent().siblings('input').val();
                $.ajax({
                    url: '@Url.Action("UpdateCart", "Cart")',
                    type: 'POST',
                    data: { bookId: bookId, Quantity: Quantity },
                    success: function (result) {
                        $('#Cart').html(result);
                    },
                    error: function () {
                        alert("An error occurred.");
                    }

                });

            });
            $('.DeleteCartItem').click(function () {

                var bookId = $(this).parent().siblings("#target").children("input").val();
                $.ajax({
                    url: '@Url.Action("DeleteCartItem", "Cart")',
                    type: 'POST',
                    data: { id: bookId },
                    success: function (result) {
                        $('#Cart').html(result);
                    },
                    error: function () {
                        alert("An error occurred.");
                    }

                });

            });
            /*$('.dropdown').change(function (e) {
                var dropdownId = $(this).attr('id'); // Get ID of changed dropdown
                var formId = dropdownId.replace('dropdown', 'form'); // Assuming forms have IDs like 'form123'
                $('#' + formId).submit(); // Submit only the relevant form
            });*/
            function ClearResult() {
                $("#Cart").empty();
            }
        });

    </script>
}
else
{
    <h1>Cart is empty</h1>
}

